%section.functionalities.span12.make-center.no-left-margin
  %article.span3
    = image_tag(asset_path("scalability.png"), class: "span3 make-center functionality")
    .clear
    %h3.span10.make-center
      Increasing Scalability
    %p.span10.make-center
      Nulla facilisi. Nunc volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet orci vel mauris blandit vehicula.

  %article.span3
    = image_tag(asset_path("master-minds.png"), class: "span3 make-center functionality")
    .clear
    %h3.span10.make-center
      Master Minds
    %p.span10.make-center
      Nulla facilisi. Nunc volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet orci vel mauris blandit vehicula.
      
  %article.span3
    = image_tag(asset_path("consulting1.png"), class: "span3 make-center functionality")
    .clear
    %h3.span10.make-center
      ROR, NodeJS Consulting
    %p.span10.make-center
      Nulla facilisi. Nunc volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet orci vel mauris blandit vehicula.

  %article.span3
    = image_tag(asset_path("design.png"), class: "span3 make-center functionality")
    .clear
    %h3.span10.make-center
      Pixel Perfect
    %p.span10.make-center
      Nulla facilisi. Nunc volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet orci vel mauris blandit vehicula.
