%section#tech
  %span{id: "railsbg"}
    %a{href: "#", id:"rails"}
  %span{id: "nodejsbg"}
    %a{href: "#", id:"nodejs"}
  %span{id: "rubybg"}
    %a{href: "#", id:"ruby"}
  %span{id: "couchdbbg"}
    %a{href: "#", id:"couchdb"}
  %span{id: "redisbg"}
    %a{href: "#", id:"redis"}
  %span{id: "mongodbbg"}
    %a{href: "#", id:"mongodb"}
  %span{id: "cassandrabg"}
    %a{href: "#", id:"cassandra"}