%section#testimonials.span12.make-center.no-left-margin
  %article.testimonial-box.span10.make-center
    %p
      %i
        Sreekanth was able to very quickly get up to speed on a project that was already in progress, |
        then make an high-quality contribution in a short space of time. Another example of professionalism, |
        commitment and a high standard of ability from the Activesphere team.
    %p.center
      PHP CRM Refactoring through Odesk