%h1 About Us

%p.about-us-text

.cols.bio
  %div
    %div.us
      %img{src: "/assets/people/sreeix_pic.jpg"}
      %div
        %div.info
          %span Sreekanth Vadagiri
          %a{href: "http://twitter.com/#!/sreeix"} @sreeix
          %a{href: "http://in.linkedin.com/pub/sreekanth-vadagiri/0/900/416"}
            %img.icons{src: "/assets/ln.jpg"}
          %a{href: "http://github.com/sreeix"}
            %img.icons{src: "/assets/git.png"}
        %div.rant

          Worked on large enterprise applications at Thoughtworks,
          working out of their Bangalore, Beijing and Chicago offices
          using Java .Net and Ruby.

          Currently he helps scale a large video discovery application
          to serve their video content to few million users.  He
          loves playing with different Programming Languages and NoSQL
          databases. Currently, Javascript is his favourite
          language. He has also build large applications using Smalltalk, C++, Java, Ruby and
          Scala.


    %div.us
      %img{src: "/assets/people/nikhil_pic.jpg"}
      %div
        %div.info
          %span Nikhil Fernandes
          %a{href: "http://twitter.com/#!/nikhilfernandes"} @nikhilfernandes
          %a{href: "http://in.linkedin.com/pub/nikhil-fernandes/31/382/565"}
            %img.icons{src: "/assets/ln.jpg"}

        %div.rant

          Worked on large enterprise applications in Java and Ruby at
          Thoughtworks for 5 years and now scales a large Ruby on
          Rails application to serve out millions of phone calls. He
          loves teaching kids.



    %div.us
      %img{src: "/assets/people/ciju_pic.jpg"}
      %div
        %div.info
          %span Ciju Cherian
          %a{href: "http://twitter.com/#!/ciju"} @ciju
          %a{href: "http://github.com/ciju"}
            %img.icons{src: "/assets/git.png"}

        %div.rant
          After his masters at IIT Kanpur, he soon got taste for startups at
          SlideShare. Since then he has been involved with a few startups, and has
          been attending various technical/startup events. He has won two
          Yahoo! India Hackday events.

          He is interested in education and analytics.

    .us
      %img{src: '/assets/people/dhruva_pic.jpg'}
      %div
        .info
          %span Dhruva Sagar
          %a{href: "http://in.linkedin.com/in/dhruvasagar"}
            %img.icons{src: "/assets/ln.jpg"}
          %a{href: 'http://twitter.com/dhruvasagar'} @dhruvasagar
          %a{href: 'http://github.com/dhruvasagar'}
            %img.icons{src: '/assets/git.png'}
        .rant
          After working in a wide range of technologies ranging from Java, J2EE
          to Adobe Flex in companies like IBM India Pvt. Ltd. and SAP India Pvt. Ltd.
          he got involved in a project with Ruby on Rails and never looked back ever since.
          Worked as a freelancer with PHP &amp; Ruby on Rails for about a year before taking
          the plunge and deciding to join a startup named Artha42 Innovations Pvt. Ltd.
          %br
          %br
          Having over 6 years of experience overall and about 3 years in Ruby,
          he likes to work &amp; experiment with new upcoming technologies when he is not
          consulting and helping build &amp; scale large Ruby on Rails applications.
          %br
          %br
          He likes meeting new &amp; passionate people, attending events and also
          harbors hobbies like playing Guitar, Travelling &amp; Wild Life Photography.

    %div.us
      %img{src: "/assets/people/jai_pic.jpg"}
      %div
        %div.info
          %span Jai Keerthi
          %a{href: " https://twitter.com/#!/kjaikeerthi"} @kjaikeerthi
        %div.rant

          He is a passionate programmer who started writing web
          applications right from his mid graduation days. After
          writing handful of web apps mostly on frontend, he started
          his carrier with a startup and got hooked to its culture.
          Finally landed @activesphere and crafted few applications with
          Ruby on Rails. Now focused on building a scalable application
          with Amazon's DynamoDb and Ruby on Rails.

    %div.us
      %img{src: "/assets/people/anantha_pic.jpg"}
      %div
        %div.info
          %span AnanthaKumaran
          %a{href: "https://twitter.com/#!/ananthakumaran"} @ananthakumaran
        %div.rant

          After working with few startups he joined us. Within a month
          he contributed with his DynamoDB emulator. He is an
          active Lisper and Emacs user. He contributed to Emacs community
          with few development tools. He lives only with his books,
          kindle and computers.


    %div.us
      %img{src: "/assets/people/sreehari_pic.jpg"}
      %div
        %div.info
          %span SreeHari
          %a{href: "http://twitter.com/#!/sree0514"} @sree0514
          %a{href: "http://in.linkedin.com/pub/sreehari-b/25/623/926"}
            %img.icons{src: "/assets/ln.jpg"}
          %a{href: "http://github.com/sreehari"}
            %img.icons{src: "/assets/git.png"}
        %div.rant

          Since the completion of his Bachelor of Technology, he has been working with startups and loves programming.
          He is a Ruby and Ruby On Rails developer; one day he will become a movie maker.

    %div.us
      %img{src: "/assets/people/pavan_teja.jpg"}
      %div
        %div.info
          %span Pavana Teja
          %a{href: "https://twitter.com/#!/pavana21"} @pavana21
          %div.rant

            He has been in Web development since 2010 and received PGDSD degree from the University of
            International Institute of Information Technology. He loves to program and has a very contagious outlook
            towards learning new things. He enjoys listening to music and watching movies. He has been waiting for Sreehari's
            (see above) first movie.

    %div.us
      %img{src: "/assets/people/dinesh_pic.jpg"}
      %div
        %div.info
          %span Dinesh
          %a{href: " https://twitter.com/#!/dineshgprathap"} @dineshgprathap

    %div.us
      %img{src: "/assets/people/person.jpeg"}
      %div
        %div.info
          %span Sreenuvas K
