%h1 We are Hiring!

.cols.cols3
  %h2 Kickass Developer  
  %p
    %ul
      %li Do you love writing code?
      %li Do you want to be at a job where learning is an ongoing process (New technologies, new ways of doing things, products and more, we do mean it)
      %li Like solving interesting problems?
      %li Don't mind "risking" being one of the first few employees of a really small startup with BIG dreams
    %h3 Work Involves
    %ul
      %li Writing a lot of meaningful code, currently it is mostly Ruby and Nodejs, but we generally pick a language/technology that best suits the problem and/or customer needs.
      %li A bit of both consulting opportunities as well as in-house product development.
    %div
      If you think you fit the bill, send us an email at
      %a{:href => "mailto:jobs@activesphere.com",style: 'text-decoration: underline'} jobs@activesphere.com
    
    

