%h1 We'd love to hear from you

.contact
  :javascript
    var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js'    type='text/javascript'%3E%3C/script%3E"));

  :javascript
    var z7x3k1 = new WufooForm();
    z7x3k1.initialize({
    'userName':'activespherestaging', 
    'formHash':'z7x3k1', 
    'autoResize':true,
    'height':'401',
    'header':'show'});
    z7x3k1.display();


.cols.cols3
  .col
    %h2 Drop in at
    %div{style: "text-align:center"} House # 1096, Ground Floor 
    %div{style: "text-align:center"} Indiranagar 12th 'A' Main
    %div{style: "text-align:center"} HAL 2nd Stage,
    %div{style: "text-align:center"} Bangalore 560008.
    %div{style: "text-align:center"} India.
  .col
    %h2 Feel free to call us
    %div{style: "text-align:center"} +91 9663681428
    
  .col
    %h2 Email us at
    %div{style: "text-align:center"}  
    %div.email{style: "text-align:center"} 
      %a{:href => "mailto:contact@activesphere.com"}contact@activesphere.com
      
      
        