.span-24.content.work-process
  .span-24
    %h2 How We Work
    %p
      Our hybrid model is derived from our experiences with Agile, Lean and Interaction Design. We focus heavily on early lightweight prototyping, usability testing, rapid iterative development and releasing early &amp; often.
    %br/
  .span-24
    .span-6.prepend-6.work-process-diagram
    %br/
    %br/
    %br/
    .span-10.append-2.work-process-steps.last
      %p
        We start out by
        %strong listening
        to what you have to say. We will ask you a lot of
        = succeed "," do
          %strong questions
        %strong validate
        your concept and get a good
        %strong shared understanding
        of your requirements and constraints.
      %p
        Based on this shared understanding we will create
        %strong lofi prototypes.
        These prototypes will help us
        %strong understand and evolve the structure and workflow
        of the application. It will also help us do
        = succeed "." do
          %strong usability testing
      %p
        Once the prototypes are accepted by everyone, we will translate it to a
        = succeed "," do
          %strong Master Features List
        which will be
        %strong prioritized, developer estimated and scheduled.
        At this point you will have a
        %strong good idea about the scope, budget and timelines.
        These were steps
        %strong 1 to 4
        in the diagram.
      %p
        Once you signup for the work, we start a highly iterative phase of
        = succeed "." do
          %strong continuous development &amp; testing
        A working application is
        %strong deployed regularly
        for stakeholders to see. Any feedback, changes or bugs are dealt with. A
        %strong release
        is made soon when the build has enough features to release.
.span-24.content.technologies-we-like
  %h2 Technologies we like to use
  %br/
  .span-8
    %ul
      %li
        %a{:href => "http://www.ruby-lang.org/en/", :target => "_blank"} Ruby
      %li
        %a{:href => "http://rubyonrails.org/", :target => "_blank"} Ruby On Rails
      %li
        %a{:href => "http://jquery.com/", :target => "_blank"} Javascript & JQuery
      %li
        %a{:href => "http://en.wikipedia.org/wiki/Representational_State_Transfer", :target => "_blank"} REST
      %li
        %a{:href => "http://www.mongodb.org/", :target => "_blank"} MongoDB
      %li
        %a{:href => "http://couchdb.apache.org/", :target => "_blank"} CouchDB
  .span-8
    %ul
      %li
        %a{:href => "http://developer.apple.com/technologies/mac/", :target => "_blank"} OSX
      %li
        %a{:href => "http://developer.apple.com/iphone/index.action/", :target => "_blank"} iOS
      %li
        %a{:href => "http://www.android.com/", :target => "_blank"} Android
      %li
        %a{:href => "http://en.wikipedia.org/wiki/HTML5/", :target => "_blank"} HTML5
  .span-8.last
    %ul
      %li
        %a{:href => "http://aws.amazon.com/", :target => "_blank"} Amazon Cloud Services
      %li
        %a{:href => "http://heroku.com/", :target => "_blank"} Heroku
      %li
        %a{:href => "http://engineyard.com/", :target => "_blank"} EngineYard
      %li
        %a{:href => "http://git-scm.com/", :target => "_blank"} Git
    %br/

- content_for(:javascript) do
  :javascript
    document.getElementById('how-we-work').setAttribute("class", "selected");
