%h1 Things we built.

%div.our-hacks
  %div.project.toolbox
    %div
      %h2
        ToolBox
        %a{href: "http://nodetoolbox.com/"} Node Toolbox
      %div.description
        The best way to find modules you need in the
        %a{href: "http://nodejs.org/"} Node.js
        Ecosystem. We built it to scratch our own itch with the myriad
        %a{href: "http://nodejs.org/"} Node.js
        modules in different state of development and abandonment, but the community seemed to have liked it and we have open sourced the code on
        %a{href: "https://github.com/activesphere/nodetoolbox"}  Github.
        %br
        It provides the users the ability to categorize, search and look for the most interesting and recommended modules in the rapidly growing node.js ecosystem. Its written as a node.js application in CoffeeScript
        %a{href: "http://blog.activesphere.com/blog/2011/10/25/node-toolbox/"} More Details...

  %div.project.fakedynamo
    %div
      %h2
        FakeDynamo
        %a{href: "https://github.com/ananthakumaran/fake_dynamo"} github.com/ananthakumaran/fake_dynamo
      %div.description
        An In-memory dynamodb emulator for
        %a{href: "http://aws.amazon.com/dynamodb/"} Amazon DynamoDB.
        We build it to help us develop applications on  dynamodb in development and test environments without incurring the costs and the latencies. This also allows us to host the non production versions of the application outside of EC2. It is a Ruby Application.

  %div.project.devsync
    %div
      %h2
        devsync
        %a{href: "https://github.com/ciju/devsync"} github.com/ciju/devsync
      %div.description
        A chrome devtools (WebInspector) hack, which allows your css/javascript edits from WebInspector to be saved directly to the localhost files. It was a winner at
        %a{href: "http://developer.yahoo.com/blogs/ydn/posts/2011/08/open-hack-india-they-hacked-we-won-them-over/"} Yahoo! Hacknight. It is a node.js application

  %div.project.redis-proxy
    %div
      %h2
        Redis Proxy
        %a{href: "https://github.com/sreeix/redis-proxy"} github.com/sreeix/redis-proxy
      %div.description
        It is the HAProxy of
        %a{href: "http://redis.io/"} Redis servers.
        Redis-proxy proxies the Redis master-slave(s) farm, and automagically manage the the failures of slaves and master, with zero downtime. Redis Replication dance as it is usually know, is avoided with such a setup.
        %br
        It also lets you scale your redis subsystem by splitting reads to slaves and writes (going to master). It is a big win for scaling and Availability of redis servers. It's published as a node.js module and written in Javascript

  %div.project.gotunnel
    %div
      %h2
        GoTunnel
        %a{href: "https://github.com/ciju/gotunnel"} github.com/ciju/gotunnel
      %div.description
        Gotunnel allows you to share server running on localhost, over the net. localtunnel allows you to do the same, but at the time of this writing, didn’t support WebSocket. And well, we wanted to do a project in Golang.
        %br
        %a{href: "http://blog.activesphere.com/blog/2013/03/26/gotunnel-make-localhost-server-accessible-over-internet/"} More Details...

  %div.project.couchup
    %div
      %h2
        Couchup
        %a{href: "https://github.com/sreeix/couchup"} github.com/sreeix/couchup

      %div.description
        Couchup is an interactive Coucbdb console. It allows command line access to
        %a{href: "http://couchdb.apache.org/"} CouchDB databases.
        It has a lot of nifty features that Couchdb Futon does not provide. Useful for Programmers wanting to run quick queries and test data. It is published as a ruby gem.
        %a{href: "http://blog.activesphere.com/blog/2011/02/28/introducing-couchup-an-interactive-couchdb-co/"} More Details...

