.span-24.content.works
  .span-24
    .span-7.featured-work
      %br/
      %h3 Peek
      %p
        %strong Peek
        is a simple device designed for email on the go. The vision was to build a great-looking device whose function would be as elegant and simple as its form. It would be extraordinarily simple to set up, get people emailing within minutes, and work anywhere by connecting to cell phone towers behind the scenes, without the hassle of contracts, cumbersome paper bills or other cell phone-style "gotchas". ActiveSphere played a big role in the launch of their device in India. We helped build Enterprise features like Microsoft Exchange support for their device. Today, we are helping them manage their production servers.
      %p
        Take a 
        %a{:href => "#", :onclick => "window.open('http://www.getpeek.com/')"}Look.
    .span-16
      %img{:src => "/assets/featured_work_peek.png"}/
  %p.quote
    %strong> &ldquo;
    ActiveSphere has been amazing in helping push Peek's technology forward.  Professional to the bone, we have enjoyed working with ActiveSphere
    %strong &rdquo;
    \-
    %strong Dan Morel, Chief Geeky Peek, Peek Inc
.span-24.content.works
  .span-24
    .span-7.featured-work
      %br/
      %h3 Box+Dice
      %p
        %strong Box+Dice
        consists of two software products - Boom and Grab websites. Boom offers a comprehensive real estate solution that handles all aspects of a real estate sales business - appraisals and listings management, trust accounting, etc. Grab Websites provide industry leading real estate website services that integrate with the BOOM CRM. We were involved in several enhancements to the Boom CRM, development of Grab websites and a complete rewrite and redesign of their Outlook addon for the CRM to manage client information from Outlook.
      %p
        Visit 
        %a{:href => "#", :onclick => "window.open('http://www.boxdice.com.au/')"}them.
    .span-16
      %img{:src => "/assets/featured_work_boom.png"}/
  %p.quote
    %strong> &ldquo;
    ActiveSphere have been the most professional, capable and communicative team we've had the pleasure to work with.  We work with a lot of external resources and we know that our requirements and expectations are often complex, but with the ActiveSphere we've had an incredibly beneficial experience.
    %strong &rdquo;
    \-
    %strong David Sloane,General Manager, BoxDice Software
.span-24.content.works
  .span-24
    .span-7.featured-work
      %br/
      %h3 NoteFlo
      %p
        %strong NoteFlo
        is a Private Loan Marketplace for real estate lenders and buyers. It allows buyers to  request funding for their loans and real estate lenders to easily search and find loans they want to target. ActiveSphere played an important role with several enhancements, fixing defects, implementing SEO and rolling out frequent releases.
      %p
      %p
        Visit 
        %a{:href => "#", :onclick => "window.open('http://www.noteflo.com/')"}them.
    .span-16
      %img{:src => "/assets/featured_work_noteflo.png"}/
  %p.quote
    %strong> &ldquo;
    It was refreshing to work with ActiveSphere because unlike most ROR developers, they were extremely responsive and cost effective.  It was a pleasure working with them and I will continue to use their services in the future.
    %strong &rdquo;
    \-
    %strong Eric Wohl, Founder, Noteflo.com
.span-24.content.works
  .span-24
    .span-7.featured-work
      %br/
      %h3 YourHires
      %p
        %strong YourHires
        enables small organizations to manage their recruitment processes. Our goal was to build a simple, elegant solution which would be flexible enough for most recruitment workflow styles, would allow recruiters to effectively manage their work by highlighting upcoming events and updates on their candidates.
      %p
        YourHires is 
        %a{:href => "#", :onclick => "window.open('http://wiki.github.com/akshayrawat/yourhires-ng/')"}Open Source. 
        Built using Ruby on Rails, MySQL, HAML, SASS, Blueprint. Hosted at Heroku.
      %p
        Take a
        %a{:href => "/yourhires/"} tour.
    .span-16
      %img{:src => "/assets/featured_work_yh.png"}/

- content_for(:javascript) do
  :javascript
    document.getElementById('works').setAttribute("class", "selected");
